/* css */

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}

.rootframe{

    width: 100%;

    height: 100%;

    background: #c7c7c7;

}

.main_nav_box{
    display: flex;
}


.keyboard{

    display: flex;

}

.keyboard_key{

    height: 30px;

    width: 30px;

    background-color: aqua;

    margin: 5px;

}

.keyboard_key:hover{

    cursor: pointer
}

.game_start_btn{

    flex-grow: 1;

    height: 30px;

    width: 80px;

    background-color: rgb(51, 255, 0);

    margin: 5px;

}

.game_start_btn:hover{

    cursor: pointer
}